{% if type == 'reset' %}
<div class="row" id="user-reset-password">
  <div class="col">
    <div class="card shadow mb-3" >
      <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Reset password</p>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'FPT:reset-password' user_info.id %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label for="address"><strong>{{ field.label}}</strong></label>
            {{field}}
          </div>
          {% endfor %}

          <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit">Save&nbsp;</button>
            <button class="btn btn-danger submit-button" type="button" ic-action="remove" ic-target="#user-reset-password">
              No Change
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row" id="user-update-password">
  <div class="col">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Update password</p>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'FPT:change-password' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label for="address"><strong>{{ field.label}}</strong></label>
            {{field}}
          </div>
          {% endfor %}

          <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit">Save&nbsp;</button>
            <button class="btn btn-danger submit-button" type="button" ic-action="remove" ic-target="#user-update-password">
              No Change
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}