{% extends 'layout/base.html' %}
{% load static %}
    {% block title %}
        <title>Login FPT</title>
    {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/Pretty-Registration-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Table-with-search--sort-filters.css' %}">
{% endblock %}
{% block body_class %}bg-gradient-primary{% endblock %}
{% block body_style %}background-color: cornflowerblue{% endblock %}
{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url({% static 'img/fpt-mb.png' %});"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                                </div>
                                  {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        Your username and password didn't match. Please try again.
                                    </div>
                                  {% endif %}
                                  {% if next %}
                                    {% if user.is_authenticated %}
                                      <p>Your account doesn't have access to this page. To proceed,
                                      please login with an account that has access.</p>
                                    {% else %}
                                      <p>Please login to see this page.</p>
                                    {% endif %}
                                  {% endif %}
                                <form class="user" method="post" action="{% url 'login' %}">
                                      {% csrf_token %}
                                    <div class="form-group"><input class="form-control form-control-user" type="text" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter user name.." name="username"></div>
                                    <div class="form-group"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                        </div>
                                    </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                                    <hr>
                                    <hr>
                                </form>
                                # <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}