<div class="row">
<div class="col">
    <div class="card shadow mb-3" id="user-info">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Trainer Info</p>
        </div>
        <div class="card-body">
            <form action="{% url 'FPT:change-profile-trainer' user_info.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="education"><strong>Education</strong></label>
                            <input class="form-control" type="text" name="education"
                                value="{{ user_type.education }}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="phone"><strong>Phone</strong></label><input class="form-control" type="text"
                                name="phone" value="{{ user_type.phone }}" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="working-place"><strong>Working Place</strong></label><input
                                class="form-control" type="text" name="working_place"
                                value="{{ user_type.working_place }}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="type"><strong>Type</strong></label>
                            <select name="type" id="id_type">
                                <option value="ET" selected="">External Type</option>

                                <option value="IT">Internal Type</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" type="submit">Save&nbsp;</button>
                    <button class="btn btn-danger submit-button" type="button" ic-action="remove"
                        ic-target="#user-info">No Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>