{% extends 'layout/base_dashboard.html' %} {% load static %}
{% block title %}
   Manage Trainers Info
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Trainer</h3>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>USer Name</th>
                            <th>Education</th>
                            <th>Phone</th>
                            <th>Working Place</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trainer in trainers %}
                        <tr id="row-user-{{ trainer.user.id }}">
                            <td>
                                {% if trainer.user.avatar.url is not None %}
                                <img class="border rounded-circle img-profile" style="width:5rem;height:5rem"
                                    src="{{ trainer.user.avatar.url }}">
                                {% else %}
                                <p>No Avatar</p>
                                {% endif %}
                            </td>
                            <td>{{ trainer.user.username }}</td>
                            <td>{{ trainer.education }}</td>
                            <td>{{ trainer.phone }}</td>
                            <td>{{ trainer.working_place }}</td>
                            <td>{{ trainer.type }}</td>
                            <td>
                                <a href="{% url 'FPT:manage-profile' trainer.user.id %}" class="btn btn-success"
                                    role="button" style="background: rgb(11,171,56);margin: 2px;"><i
                                        class="fas fa-pencil-alt"></i></a>
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="token">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}