{% extends 'layout/base_dashboard.html' %} {% load static %} {% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">Category Create</h3>
</div>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form" action="{% url 'FPT:create-category' %}" method="POST">
            {% csrf_token %}
            <h1>Category Form</h1>
            {% for field in upload_form %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="name-input-field">{{field.label}} </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-light submit-button" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}