{% extends 'layout/base_dashboard.html' %} {% load static %} {% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">Course Create</h3>
</div>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <div class="alert alert-success" role="alert" id="save-sucess" style="background-color: #B4F7D2!important; border: 1px solid #0C6D38;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><i class="icon ion-checkmark-round mr-1"></i><span style="color: #0C6D38 !important;">Create Course successfully<br></span></div>
        <div class="alert alert-success" role="alert" id="save-sucess-1" style="border: 1px solid #0C6D38;background: var(--danger);"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><i class="icon ion-close mr-1"></i><span style="color: #0C6D38 !important;">Can't not create course<br></span></div>
        <form class="custom-form" action="{% url 'FPT:create-course' %}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Course Form</h1>
            {% for field in upload_form %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column">
                        <label class="col-form-label" for="name-input-field">{{field.label}} </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-light submit-button" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}