{% extends 'layout/base_dashboard.html' %}
{% block content %}
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0" id="trainee_info">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                    {% if course.image.url is not None %}
                        <div class="flex-grow-1 bg-register-image" style="height:100%;width:100%;">
                                <img id="imagePreview" class="img-fluid" style="width:100%;height:100%" src="{{ course.image.url }}">
                            </div>
                        {% else %}
                        <p>No Image</p>
                    {% endif %}
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Request to {{ course.name }} !</h4>
                            </div>
                            <form class="user"
                                  action="{% url 'FPT:request-assign-course' course.id %}"
                                  method="POST">
                                <div class="form-group row">
                                    {% csrf_token %}
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" placeholder="Why you want to join course" name="content" maxlength="150" required="" id="id_content">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="email" placeholder="Email Receive" name="email" maxlength="150" autocapitalize="none" autocomplete="email" autofocus="" required="" id="id_email">
                                    </div>
                                </div>
                                <div class="form-group row">

                                </div>
                                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Submit Request</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}