{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name = "intercoolerjs: use-real-http-method" content = "true" />
    <title>{% block title %}Index{% endblock %}</title>


    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}" />
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'FPT:dashboard' %}">
                    <div class="sidebar-brand-text mx-3"><span>FPT Training <br> System</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'FPT:dashboard' %}"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                    </li>
                    {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:account-manage' %}"><i class="fas fa-user"></i><span>Account Trainee</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:account-manage-trainer' %}"><i class="fas fa-user"></i><span>Account Trainer</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:courses' %}"><i class="fas fa-table"></i>Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:manage-assign-user' %}"><i class="fas fa-table"></i>Managae Assign</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:categories' %}"><i class="fa fa-tags"></i><span>Categories</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:register-users' %}"><i
                                class="fas fa-user-circle"></i><span>Register User</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:requests-users' %}"><i
                                class="fas fa-mail-bulk"></i><span>Requests Course</span></a>
                    </li>
                    {% endif %}
                    {% if user.is_trainer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:view-assigned-course' %}"><i
                                class="fas fa-user-circle"></i><span>View Course Assigned</span></a>
                    </li>
                    {% endif %}
                    {% if user.is_trainee %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:view-assigned-course' %}"><i
                                class="fas fa-user-circle"></i><span>View Course Assigned</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FPT:view-request-assign' %}"><i
                                class="fas fa-user-circle"></i><span>View Request Course</span></a>
                    </li>
                    {% endif %}

                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-primary hBack" type="button" onclick="goBack()">Back</button>
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop-1"
                            type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
                                    href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text"
                                                placeholder="Search for ..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
                                        href="#">
                                        <span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small">
                                            {{user.username}}
                                        </span>
                                        {% if user.avatar.url is not None %}
                                             <img
                                            class="border rounded-circle img-profile" src="{{user.avatar.url}}" />
                                            {% else %}
                                            <img
                                            class="border rounded-circle img-profile" src="{% static 'img/dogs/image3.jpeg' %}" />
                                        {% endif %}

                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                        <a class="dropdown-item" href="{% url 'FPT:profile' %}"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                    {% include 'layout/message.html' %}
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% block script %}
    <script type="text/javascript">
    window.onpageshow = function(event) {
    if (event.persisted) {
        window.location.reload()
    }
    };
    function goBack() {
      window.history.back();
    }

    {% endblock %}
   </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/intercool.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</div>
</body>

</html>